# Tic rule example

Lopez de Prado proposes in his book "Advances in Financial Machine Learning" one way to give the sign label to ticks transactions as first step to infer how information arrives to the markets.  

$b_{t} = \frac{\left | \Delta p_{t} \right |}{\Delta p_{t}}\$,

if $p_{t} \neq 0$.  

Otherwise $b_{t} = b_{t-1}$

By construction, the first b<sub>t</sub> is b<sub>t+1</sub>.

The data used in this note book was get from:

https://quotes.hegnar.no/quotes/paperdump.php?paper=JPM.N.  

Handler 04/03-2019 *

Downloaded data on March 5, 2019.   The data was used here is only for teaching purposes, note only is showing data fragments, and the csv file is not posted to the public, in order to protect copyrights owner.

**COPYRIGHT DISCLAIMER UNDER SECTION 107 OF THE COPYRIGHT ACT 1976 Copyright Dislcaimer Under Section 107 of the Copyright Act 1976, allowance is made for “fair use” for purposes such as criticism, comment, news reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statue that might otherwise be infringing. Non-profit, educational, or personal use tips the balance in favor of fair use.**

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import microfinkitv_0_2 as mf
import seaborn as sns
%matplotlib inline
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [3]:
df = pd.read_csv('20190304JPMT.csv')

In [4]:
# Transform time stamp
df['time']=df.time.str.replace("T", "")
df["time"] = pd.to_datetime(df["time"])
df.head()

                 time  price  quantity      source  buyer  seller  initiator
0 2019-03-04 15:30:00 104.92       100  Auto trade    nan     nan        nan
1 2019-03-04 15:30:00 104.93       100  Auto trade    nan     nan        nan
2 2019-03-04 15:30:00 104.95       300  Auto trade    nan     nan        nan
3 2019-03-04 15:30:03 104.85    153119  Auto trade    nan     nan        nan
4 2019-03-04 15:30:03 104.93       100  Auto trade    nan     nan        nan

In [5]:
# Copy the data frame time , price  and quantity columns
dfp = df[['time','price','quantity']].copy()

In [6]:
dfp.head()

                 time  price  quantity
0 2019-03-04 15:30:00 104.92       100
1 2019-03-04 15:30:00 104.93       100
2 2019-03-04 15:30:00 104.95       300
3 2019-03-04 15:30:03 104.85    153119
4 2019-03-04 15:30:03 104.93       100

# Tick rule

Tick ule it's a rule designed to give a sign to a transaction tick, according to the difference of the same with the previous tick. 

Basically, calculate the difference in absolute value between the price of the tick at time t and the price at time t-1, divided by the same difference, but this time taking into account its sign. The result is a value of -1, 0 or 1. When the value obtained is 0, it is assumed that the sign is the same as time t -1

In [8]:
dfp['b_t'] = mf.tick_rule(dfp,'price')

In [10]:
dfp.head()

                 time  price  quantity   b_t
0 2019-03-04 15:30:00 104.92       100  1.00
1 2019-03-04 15:30:00 104.93       100  1.00
2 2019-03-04 15:30:00 104.95       300  1.00
3 2019-03-04 15:30:03 104.85    153119 -1.00
4 2019-03-04 15:30:03 104.93       100  1.00

As you can see, the first two values have the same sign, that is, because of the ease in formulating the function to apply at the beginning of the series, the sign in t takes the later value in the series (t + 1) , and not the previous value that in this case does not exist.

In [9]:
dfp['b_t'].head(10)

0    1.00
1    1.00
2    1.00
3   -1.00
4    1.00
5   -1.00
6    1.00
7   -1.00
8    1.00
9    1.00
Name: b_t, dtype: float64